.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
    .page {
        --gray-rgb: 255, 255, 255;
        --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
    }
    .logo {
        filter: invert();
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }

    .footer a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}

@media (max-width: 600px) {
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dongood {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scale ease-in-out infinite 4s;
}

.don {
    width: 175px;
    height: 225px;
    animation: rotate infinite 4s;
}

.don2 {
    animation: good1 ease-in-out infinite 4s;
}

.don1,
.don3,
.don5,
.don7 {
    width: 175px;
    height: 25px;
    background-color: #ccc;
    transform: scaleY(1.05);
}
.don2,
.don4,
.don6 {
    width: 25px;
    height: 25px;
    background-color: #ccc;
}

.don3,
.don5 {
    margin-bottom: 25px;
}
.don4 {
    margin-left: 75px;
}

@keyframes good1 {
    0%,
    10% {
        transform: translateX(0);
    }

    40%,
    60% {
        transform: translateX(150px);
    }

    90%,
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0%,
    10% {
        transform: rotate(0);
    }

    40%,
    60% {
        transform: rotate(540deg);
    }
    90%,
    100% {
        transform: rotate(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.6);
    }
    10% {
        transform: scale(0.6);
    }

    25% {
        transform: scale(0.3);
    }

    40% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(0.6);
    }
    60% {
        transform: scale(0.6);
    }

    75% {
        transform: scale(0.3);
    }
    90% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(0.6);
    }
}
