@media (prefers-color-scheme: dark) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}

.startButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 40px;
    background-color: var(--grey800);
    color: var(--grey025);
    border: none;
    border-radius: 50px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
}

.startButton:hover {
    box-shadow: 0 4px 25px var(--shadow1);
}

@media (max-width: 600px) {
    .startButton {
        font-size: 16px;
        width: calc(100% - 40px);
        max-width: 100%;
        margin: 0 20px;
        left: 0;
        transform: none;
    }
}
