.dongood {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scale ease-in-out infinite 3s;
}

.don {
    width: 175px;
    height: 225px;
    animation: rotate infinite 3s;
}

.don2 {
    animation: good1 ease-in-out infinite 3s;
}

.don1,
.don3,
.don5,
.don7 {
    width: 175px;
    height: 35px;
    background-color: var(--grey800);
    transform: scaleY(1.05);
}
.don2,
.don4,
.don6 {
    width: 35px;
    height: 15px;
    background-color: var(--grey800);
}

.don3,
.don5 {
    margin-bottom: 15px;
}
.don4 {
    margin-left: 70px;
}

.don1 {
    border-radius: 5px 5px 0 0;
}
.don7 {
    border-radius: 0 0 5px 5px;
}

@keyframes good1 {
    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    70% {
        transform: translateX(140px);
    }

    75%,
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0%,
    10% {
        transform: rotate(0);
    }

    40%,
    60% {
        transform: rotate(540deg);
    }
    90%,
    100% {
        transform: rotate(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.6);
    }
    10% {
        transform: scale(0.6);
    }

    25% {
        transform: scale(0.3);
    }

    40% {
        transform: scale(0.65);
    }
    50% {
        transform: scale(0.6);
    }
    60% {
        transform: scale(0.6);
    }

    75% {
        transform: scale(0.3);
    }
    90% {
        transform: scale(0.65);
    }
    100% {
        transform: scale(0.6);
    }
}
